:root{
    --color-background: #D8DFE8;
    --color-blackText: #000;
    --color-resultBackground: #fff;
    --color-blueText : #0A3871;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* outline: 1px red solid; */
}
input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}
label {
    display: block;
    width: 50px;
    height: 20px;
    background-color: #551759;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    /* box-shadow: 0 0 10px #477a85; */
}
label::after {
            content: "";
            width: 18px;
            height: 18px;
            background-color: #cca5cf;
            position: absolute;
            border-radius: 70px;
            top: 1px;
            left: 1px;
            transition: 0.5s;
}
input:checked + label:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }
picture, video, canvas, audio, iframe, embed, object{
    display: block;
    max-width: 100%;
}
body {
    background: var(--color-background);
    margin: 0;
    padding: 0;
}
.dark{
    background-color: #172346;
    color: var(--color-resultBackground);
}
.dark .resultadosDiv{
    background-color: #253770;
}
.dark p#placeholderText{
    color:  var(--color-blackText);
}
.dark .text::placeholder, .dark .text, .dark .result, .dark .result::placeholder, .dark p#placeholderText, .dark #warning, .dark button.encrypt{
    color: #c7d4fc;
}

footer{
    text-align: center;
    font-weight: bold;
}
.logo{
    position: absolute;
    left: 84px;
    top: 40px;
}
.content{
    display: flex;
}
.encriptado{
    margin-left: 180px;
    margin-top: 70px;
    margin-bottom: 72px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info label{
    align-self: center;
}
.buttons {
    
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}
textarea{
    border: none;
    resize: none;
    width: 100%;
}
textarea:focus{
    border: none;
    outline: none;
}
textarea.text::placeholder, .text{
    color: var(--color-blueText);
    font-size: 32px;
}
textarea.result{
    color: var(--color-blackText);
    font-size: 20px;
    text-align: center;
    height: auto;
    word-break: break-word;
}
textarea.result::placeholder{
    color: var(--color-textblack);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.resultadosDiv {
    background-color: var(--color-resultBackground);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    margin: 40px 40px 40px 40px;
    text-align: center;  
    height: auto;
    padding: 40px 25px;
    word-break: break-word;
}
p, textarea.result, textarea.text{
    background-color: transparent;
    background-image: none;
}
button {
    border: none;
    outline: none;
}
.encrypt {
    background: var(--color-blueText);
    color: #FFF;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.encrypt:hover {
    background: #105575;
    border: 2px solid var(--color-blueText);
    cursor: pointer;
}
.decrypt {
    background: var(--color-background);
    border: 2px solid var(--color-blueText);
    color: var(--color-blueText);
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.decrypt:hover, .buttonCopy:hover {
    background: var(--color-resultBackground);
    cursor: pointer;
}
.buttonCopy:hover{
    background: var(--color-background);
    cursor: pointer;
}
.buttonCopy {
    background-color: var(--color-resultBackground);
    content:  'Copiar';
    color: var(--color-blueText);
    border : 2px solid var(--color-blueText);
    padding : 24px;
    gap : 8px;
    width :328px;
    height : 67px;
    border-radius: 24px;
}
.buttonCopy::after{
    content:  'Copiar';
    color: var(--color-blueText);
    font-weight: 400;
    font-size:16px;
    line-height: 19px;
    text-align: center;
}
@media (max-width: 768px) { /*tablet size*/
    .content{
        flex-direction: column;
    }
    .encriptado{
        margin-left: 10vw;
        margin-top: 20vh;
        margin-right: 10vw;
        margin-bottom: 0;
    }
    .buttons{
        flex-direction: row;
        gap: 16px;
    }
    .encrypt{
        width: 100%;
    }
    .decrypt{
        width: 100%;
    }
    .resultadosDiv{
        height: auto;
    }
    #munheco {
        display: none;
    }
    textarea.result{
        resize: vertical;
        overflow: auto;
    }
    .buttonCopy{
        width: 100%;
    }
    .logo{
        position: absolute;
        left: 24px;
        top: 24px;
    }
}
@media (max-width: 414px) { /*phone size*/
    .content{
        flex-direction: column;
    }
    .encriptado{
        margin-left: 10vw;
        margin-top: 15vh;
    }
    .buttons{
        flex-direction: column;
        gap: 16px;
    }
    .encrypt{
        width: 100%;
    }
    .decrypt{
        width: 100%;
    }
    .resultadosDiv{

        padding-bottom: 50px;
    }
    #munheco {
        display: none;
    }
    .buttonCopy{
        width: 100%;
    }
    .logo{
        position: absolute;
        left: 24px;
        top: 24px;
    }
}